@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3d8bff;
  --secondary: #ab23ff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 1px;
  width: 5px;
}
